*,
*::before,
*::after{
box-sizing: border-box;
}

span.dow{
    text-transform: capitalize;
}

div.heure {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 20%;
    flex-wrap: wrap;
}

input[name="heure"] {
    display: none;
}

input[name="heure"] + label {
    display: block;
    width: 35%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[name="heure"]:checked + label {
    background-color: #535353;
    color: #fff;
}

div.boutons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

button.retour {
    margin-right: auto;
}

form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

form>div:not(form>div:first-child) {
    display: none;
}

.resumeChamp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
