main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Carambola', sans-serif;
    font-size: 3.50rem;
}

h2 {
    font-family: 'Carambola', sans-serif;
    font-size: 2.25rem;
}

img#compte {
    width: 20%;
    border-radius: 50%;
    border: 5px solid #000000;
}

.change {
    margin-top: 25px;
}

.boutons {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
    border-bottom: 2px solid #000000;
}

.boutons a {
    font-family: 'Carambola', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ECE9DE;
}

.boutons a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.boutons .active {
    background-color: #000000;
    color: #FFFFFF;
}

/* ---- RESPONSIVE ---- */
@media (max-width: 675px) {
    h1 {
        font-size: 2.8rem;
    }

    .boutons {
        width: 70vw;
    }

    img#compte {
        width: 30%;
    }
}

@media (max-width: 575px) {
    .boutons {
        border: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .boutons a {
        border-bottom: 2px solid #000000;
        border-radius: 5px;
        text-align: center;
        padding: 10px 20px;
        width: 42vw;
        font-size: 1rem;
    }
}

@media (max-width: 399px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    img#compte {
        width: 40%;
    }
}

@media (max-width: 299px) {
    .boutons a {
        width: 50vw;
    }
}

/* ---- INFORMATIONS ---- */
.infos {
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #ECE9DE;
    padding: 20px 30px;
    border-radius: 10px;
}

.infos p {
    margin-left: 10px;
}

/* ---- RESERVATIONS ---- */
.reservations {
    margin-top: 45px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservations h3,
.place h3 {
    text-align: center;
    font-family: 'Carambola', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 40px;
}

@media (max-width: 599px) {

    .reservations,
    .place {
        margin-top: 10px;
    }

    .reservations h3 {
        width: 80vw;
        line-height: 40px;
    }
}

@media (max-width: 399px) {
    .reservations h3 {
        font-size: 1.5rem;
    }
}

.billets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
    gap: 10px 0px;
}

.billet {
    background-color: #ECE9DE;
    padding: 30px;
    border-radius: 10px;
    width: 33vw;
    margin-bottom: 20px;
}

.billets>p {
    width: 100%;
    text-align: center;
}

.billets>a {
    margin-right: auto;
    margin-left: auto;
}

.timeDates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.date,
.time {
    background-color: #21594F;
    display: flex;
    color: white;
    padding: 0 13px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    font-family: 'Carambola', sans-serif;
}

.date p,
.time p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Carambola', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 4px;
    border-bottom: 2px solid #000000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
}

.billet p {
    font-size: 0.9rem;
}

p.price {
    text-decoration: none;
    font-family: 'Carambola', sans-serif;
    float: right;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 10px;
}

/* ---- BILLETS RESPONSIVE ---- */
@media (max-width: 899px) {
    .billets {
        flex-direction: column;
        align-items: center;
    }

    .billet {
        width: 50vw;
    }
}

@media (max-width: 549px) {
    .billet {
        width: 70vw;
    }
}

@media (max-width: 389px) {
    .timeDates {
        flex-direction: column;
        gap: 5px;
    }

    h4 {
        font-size: 1.25rem;
    }
}


/* ---- LOCALISATION ---- */
.place {
    margin-top: 20px;
    margin-bottom: 50px;
}

.place h3 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.infosAccess {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
}

.infoAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoAccess img {
    width: 35%;
}

.infoAccess ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECE9DE;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 15px;
    width: 19vw;
    height: 10vw;
    max-height: 110px;
    max-width: 210px;
}

.infoAccess li {
    font-size: 0.75rem;
    margin-bottom: 5px;
    text-align: center;
}

/* ---- LOCALISATION RESPONSIVE ---- */
@media (max-width: 899px) {
    .infosAccess {
        grid-template-columns: repeat(2, 1fr);
    }

    .infoAccess ul {
        width: 35vw;
        height: 15vw;
    }

    .infoAccess img {
        width: 25%;
    }
}

@media (max-width: 535px) {
    .infoAccess ul {
        width: 36vw;
        height: 22vw;
        padding: 10px 10px;
    }

    .infoAccess img {
        width: 25%;
    }
}

@media (max-width: 415px) {
    .infosAccess {
        grid-template-columns: repeat(1, 1fr);
    }

    .infoAccess ul {
        width: 70vw;
        height: 30vw;
        padding: 10px 10px;
    }
}