.banniere {
    margin: 0;
    background-image: url("../img/TamaraPaint2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}

h1 {
    margin: 0;
    font-family: 'Carambola', sans-serif;
    color: #FFFFFF;
    font-size: 3.75rem;
    margin-left: 7%;
    position: relative;
    top: 15%;
}

h1 span {
    font-size: 9.375rem;
}

.scroll {
    position: absolute;
    bottom: 3%;
    left: 48%;
    width: 50px;
    height: 50px;
    rotate: 90deg;
    z-index: 1;
    background-color: #000000;
    border-radius: 50%;
}

.scroll img {
    width: 33px;
    position: relative;
    top: 16%;
    left: 22%;
}

/* ---- Ariane ---- */
.ariane {
    display: flex;
    width: 85%;
    margin: auto;
    position: relative;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}

.etat:not(:last-child)::before {
    content: "";
    display: block;
    position: relative;
    top: 37px;
    left: 11.5vw;
    width: 15vw;
    border: #000000 1px solid;
}

.etat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
}

.etat h3 {
    font-family: 'Carambola', sans-serif;
    border: 2px solid #21594F;
    color: #21594F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etat.past:not(.active):hover {
    cursor: pointer;
}

.etat:not(.past, .active):hover {
    cursor: not-allowed;
}

.etat.past:hover p,
.etat.active h3,
.etat.active p {
    background-color: #21594F;
    color: #FFFFFF;
}

.etat.past:not(.active):hover h3 {
    background-color: #ECE9DE;
}

.etat p {
    font-family: 'Carambola', sans-serif;
    font-size: 1rem;
    border: 2px solid #21594F;
    color: #21594F;
    padding: 10px 20px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.past h3,
.past p {
    background-color: #ECE9DE;
    color: #5E5E5E;
    border: none;
}

.past:hover h3 {
    border: 2px solid #21594F;
}

/* ---- Form ---- */
form {
    width: 85%;
    margin: auto;
}

form>div:not(form>div:first-child) {
    display: none;
}

h2 {
    margin-top: 50px;
    font-family: 'Carambola', sans-serif;
    font-size: 2.18rem;
    margin-bottom: 15px;
}

h2 span {
    background-color: #21594F;
    color: #FFFFFF;
    padding: 15px 27px;
    border-radius: 50%;
    margin-right: 20px;
}

form h3 {
    font-size: 1.3rem;
    color: #21594F;
}

/* ---- STEP 1 ---- */
#step1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "Titre Titre"
        "Calendar Hour";
}

.title {
    grid-area: Titre;
    line-height: 4rem;
}

.calendar {
    grid-area: Calendar;
}

.hour {
    grid-area: Hour;
}

/* ---- Calendar ---- */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datepicker-picker {
    background-color: #ECE9DE;
    padding: 20px;
    font-family: 'Carambola', sans-serif;
    border-radius: 15px;
}

span.dow {
    text-transform: capitalize;
}

button.button.prev-button.prev-btn,
button.button.view-switch,
button.button.next-button.next-btn {
    background-color: #ECE9DE;
    font-size: 1.3rem;
}

button.button.view-switch {
    font-family: 'Carambola', sans-serif;
}

.datepicker-header .datepicker-controls .button:hover {
    background-color: #c0bba9;

}

.days-of-week {
    color: #21594F;
    gap: 3px;
}

.datepicker .days-of-week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.datepicker-grid span {
    color: #21594F;
    border: #21594F 1px solid;
    border-radius: 50%;
}

.datepicker-grid {
    display: flex;
    justify-content: space-between;
}

.datepicker-cell:not(.disabled):hover,
.datepicker-cell.selected {
    background-color: #21594F;
    color: #FFFFFF;
    cursor: pointer;
}

.datepicker-cell.disabled {
    color: #5E5E5E;
    background-color: #d9d9d9;
}


/* ---- Hour ---- */
.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.heure {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

input[name="heure"] {
    display: none;
}

input[name="heure"]+label {
    padding: 10px 20px;
    text-align: center;
    font-family: 'Carambola', sans-serif;
    font-size: 1.1rem;
    color: #21594F;
    background-color: #FFFFFF;
    border: 2px solid #21594F;
    cursor: pointer;
    border-radius: 30px;
}

input[name="heure"]:hover+label {
    background-color: #21594F;
    color: #fff;
}

input[name="heure"]:checked+label {
    background-color: #21594F;
    color: #fff;
}

#step1 .boutons {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

/* ---- STEP 2 ---- */
#step2 {
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "Titre"
        "Tickets"
        "Bouton";
    margin-bottom: 20px;
}

.title {
    grid-area: Titre;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.tickets {
    grid-area: Tickets;
}

.boutons {
    grid-area: Bouton;
}

.tickets {
    width: 85%;
    margin: auto;
}

.ticket {
    background-color: #ECE9DE;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.ticket .info {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
    gap: 5px;
    align-items: center;
}

.ticket label {
    font-family: 'Carambola', sans-serif;
    font-size: 1.7rem;
}

.price {
    text-align: end;
    font-family: 'Carambola', sans-serif;
    font-size: 1.2rem;
}

.quantity {
    display: flex;
    flex-wrap: nowrap;
}

.quantity button {
    font-family: 'Carambola', sans-serif;
    background-color: #21594F;
    border-radius: 50%;
    width: 17px;
    padding: 9px 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.quantity input {
    font-family: 'Carambola', sans-serif;
    font-size: 1.2rem;
    color: #21594F;
    text-align: center;
    border: none;
    background-color: #ECE9DE;
}

/* hide controls number input  Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

p.ticket {
    font-size: 1rem;
    color: #000000;
}

#step2 .boutons {
    width: 85%;
    margin: auto;
}


/* ---- STEP 3 ---- */
#step3 {
    grid-template-rows: 140px 1fr;
    grid-template-areas:
        "Titre"
        "Coordo"
        "Bouton";
    margin-bottom: 30px;
    min-height: 60vh;
}

.title {
    grid-area: Titre;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.coordo {
    grid-area: Coordo;
}

.boutons {
    grid-area: Bouton;
}

.coordo {
    width: 85%;
    margin: auto;
    background-color: #ECE9DE;
    padding: 30px 25px 10px 25px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "Firstname Name"
        "Mail Mail";
    gap: 15px;
}

.firstname {
    grid-area: Firstname;
}

.name {
    grid-area: Name;
}

.mail {
    grid-area: Mail;
}

.coordo div {
    position: relative;
}

.firstname,
.name {
    margin-top: 15px;
    margin-bottom: 20px;
}

.coordo input {
    display: block;
    border-radius: 3rem;
    border: 3px solid #21594F;
    background: #FFF;
    width: 100%;
    height: 4rem;
    font-family: 'Lucida', serif;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.coordo label {
    position: absolute;
    top: -13px;
    left: 30px;
    font-size: 0.8rem;

    border-radius: 20px;
    background-color: #21594F;
    padding: 7px 23px;

    font-family: 'Carambola', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.coordo label img {
    margin-right: 7px;
}

#step3 .boutons {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}


/* ---- STEP 4 ---- */
#step4 {
    grid-template-columns: 1fr;
    grid-template-areas:
        "Titre"
        "Coordo"
        "Bouton";
    margin-bottom: 30px;
    min-height: 60vh;
}

.title {
    grid-area: Titre;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.coordo {
    grid-area: Coordo;
}

.boutons {
    grid-area: Bouton;
}


.resumes {
    background-color: #ECE9DE;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    padding: 0px 25px 25px 25px;
    border-radius: 15px;
}

.resume {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#step4 h3 {
    color: #000000;
    font-family: 'Carambola', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 7px;
}

.resumes button {
    background-color: #ECE9DE;
    color: #21594F;
    border: #21594F 2px solid;
    font-size: 1rem;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.resumes button:hover {
    background-color: #21594F;
    color: #FFFFFF;
}

#step4 .boutons {
    width: 85%;
    margin: auto;
    margin-top: 30px;
}


/* ---- Boutons ---- */

div.boutons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
}

button,
input[type="submit"] {
    font-family: 'Carambola', sans-serif;
    font-size: 1.1rem;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

button.etat {
    padding: 10px 10px;
    margin: 0 5px;
}

button.confirmer,
button.retour,
input[type="submit"] {
    background-color: #FFFFFF;
    color: #000000;
    border: #000000 2px solid;
}

button.confirmer:hover,
button.retour:hover,
input[type="submit"]:hover {
    background-color: #000000;
    color: #FFFFFF;
}

button.retour {
    margin-right: auto;
}

.notLoged {
    padding-top: 30px;
}

.notLoged .ariane {
    margin-top: 0;
}