@font-face {
	font-family: 'Lucida';
	font-weight: 400;
    font-style: normal;
	src: url('../fonts/lucida-bright.woff2') format('font/woff2'),
        url('../fonts/lucida-bright.woff') format('font/woff');
}



*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: black;
    font-family: 'Lucida', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12vh;
    z-index: 4;
}

#logo {
    width: 12vh;
    margin-left: 5%;
}

nav {
    display: grid;
    grid-template-columns: 15% auto 1fr;
    align-items: center;
}

.menu {
    text-align: right;
}

.menu-user {
    text-align: right;
}

#compte {
    margin-right: 40px;
}
    #compte img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }


.menu a, .menu-user a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

