main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Carambola', sans-serif;
    color: #21594F;
    font-size: 3.2rem;
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 60px;
}

main p {
    font-family: 'Lucida', sans-serif;
    font-size: 1.2rem;
    color: #21594F;
    width: 60vw;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

main img {
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 450px;
}

#accueil {
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;

    padding: 10px 15px;
    border-radius: 7px;
}

p a {
    color: #21594F;
    font-weight: bold;
}

/* ----- RESPONSIVE ----- */
    @media (max-width: 899px) {
        main {
            height: 65vh;
        }
        
        h1{
            font-size: 2.9rem;
            width: 80vw;
        }
        
        /*main img {
            width: 45vw;
            margin: 20px;
        }*/

        main p {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        #accueil {
            margin-top: 20px;
        }
    }

    @media (max-width: 599px) {
        main {
            height: 85vh;
        }

        h1{
            width: 75vw;
            font-size: 2.2rem;
            line-height: 45px;
        }

        /*main img {
            width: 55vw;
        }*/

        main p {
            width: 80vw;
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
