/* ---- Bannière ---- */

.banniere {
    background-color: #7ACDB4;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8.5%;
    z-index: 2;
}

.text h1 {
    margin: 0;
}

h1 {
    font-family: 'Carambola', sans-serif;
    font-size: 3.50rem;
}

#tam {
    font-size: 8rem;
}

#era {
    font-size: 2.25rem;
}

.text h2 {
    font-weight: 900;
    margin: 0;
    margin-top: 5%;
}

.text p {
    font-size: 1.25rem; 
    width: 90%;
}

.imgBanniere {
    overflow: hidden;
    width: 67%;
}

.imgBanniere img {
    position: relative;
    top: 11%;
}

.scroll {
    position: absolute;
    bottom: 3%;
    left: 48%;
    width: 50px;
    height: 50px;
    rotate: 90deg;
    z-index: 3;
    background-color: #000000;
    border-radius: 50%;
}

.scroll img {
    width: 33px;
    position: relative;
    top: 16%;
    left: 22%;
}


    /* ---- BANNIERE RESPONSIVE ---- */
    @media (max-width: 990px) {
        .banniere {
            height: 88vh;
        }
        .text {
            justify-content: initial;
            margin-left: 7%;
            margin-top: 15%;
        }

        .text p {
            width: 40vw;
        }

        .imgBanniere {
            overflow: hidden;
            width: 55%;
            position: absolute;
            top: 44%;
            right: 0%;
            height: 56.5%;
        }
    }

    @media (max-width: 550px) {
        h1 {
            font-size: 3rem;
        }
        
        #tam {
            font-size: 7rem;
        }
        
        #era {
            font-size: 2rem;
        }

        .text p {
            width: 70vw;
        }

        .imgBanniere {
            top: 60%;
            width: 70%;
            height: 40.5%;
        }
    }

    @media (max-width: 420px) {
        .text h1 {
            font-size: 2.5rem;
            margin-right: 10px;
        }

        .text h2 {
            font-size: 1.3rem;
        }
        
        #tam {
            font-size: 5rem;
        }
        
        #era {
            font-size: 2rem;
        }

        .text p {
            font-size: 1rem;
        }

        .imgBanniere {
            top: 54%;
            width: 85%;
            height: 46.5%;
        }
    }

    @media (max-width: 280px) {
        .text h1 {
            font-size: 2rem;
        }
        
        #tam {
            font-size: 4rem;
        }
        
        #era {
            font-size: 1.6rem;
        }

        .text h2 {
            font-size: 1.2rem;
        }

        .text p {
            font-size: 1rem;
        }

        .imgBanniere {
            top: 56%;
            width: 105%;
            height: 44.5%;
        }
    }

/* ---- Présentation Tamara ----*/
.tamara {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teaser h2, .access h2, .tamara h2 {
    font-family: 'Carambola', sans-serif;
    font-size: 2.75rem;
    margin-bottom: 4%;
    padding: 0 5px 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.tamara h2 {
    color: #21594F;
    margin-top: 0;
}

.tamara img {
    border-radius: 15px;
    width: 90%;
}

img.imgBig {
    width: 100%;
}

.contentTamara {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "t1 t1 t1 imgBig imgBig imgBig"
        "s1 s1 s2 s2 t2 t2";
    gap: 38px 8px;
}
.t1 { grid-area: t1; }
.t2 { grid-area: t2; }
.s1 { grid-area: s1; }
.s2 { grid-area: s2; }
.imgBig { grid-area: imgBig; }

.t1 {
    width: 95%;
}

    /* ---- TAMARA RESPONSIVE ---- */
    @media (max-width: 999px){
        .tamara {
            padding: 8vw;
        }
        
        .contentTamara {
            grid-template-areas: 
                "t1 t1 t1 s1 s1 s1"
                ". imgBig imgBig imgBig imgBig ."
                "s2 s2 s2 t2 t2 t2";
        }
    }

    @media (max-width: 769px){
        .tamara h2 {
            margin-bottom: 40px;
        }
        
        .contentTamara {
            grid-template-areas: 
                "s1 s1 s1 . . ."
                "t1 t1 t1 t1 t1 t1"
                ". . imgBig imgBig imgBig imgBig"
                "s2 s2 s2 t2 t2 t2";
        }
    }

    @media (max-width: 470px){
        .tamara{
            align-items: center;
        }
        
        .tamara h2 {
            font-size: 2rem;
        }
        
        .contentTamara {
            grid-template-areas: 
                ". s1 s1 s1 s1 ."
                "t1 t1 t1 t1 t1 t1"
                "imgBig imgBig imgBig imgBig imgBig imgBig"
                "t2 t2 t2 t2 t2 t2"
                ". s2 s2 s2 s2 .";
            gap: 8px;
        }
    }


/* ---- Teaser ---- */
.teaser {
    background-color: #21594F;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 12vh 13vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentTeaser {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.teaser h2 {
    color: #FFFFFF;
    margin-top: 0;
}

.teaser .iframeResponsive {
    position: relative;
    width: 300%;
    aspect-ratio: 16 / 9;
}

    .teaser .iframeResponsive iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;

        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

.presentation {
    background-color: #ECE9DE;
    padding: 30px;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#textPresent {
    margin-top: 7%;
    line-height: 23px;
}

.infosTeaser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoTeaser {
    background-color: #21594F;
    display: flex;
    align-items: center;
}


    /* ---- TEASER RESPONSIVE ---- */
    @media (max-width: 990px) {
        .teaser {
            padding: 10vh 6vw;
        }
    }

    @media (max-width: 600px) {
        .teaser {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            padding: 12vh 10vw;
        }

        .teaser h2 {
            margin-bottom: 10px;
        }
        
        .contentTeaser {
            flex-direction: column;
        }

        .teaser .iframeResponsive {
            width: 100%;
        }

        .teaser .iframeResponsive iframe {
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0;
        }

        .presentation {
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
        }
        
        .infosTeaser {
            flex-direction: column;
            gap: 5px;
        }
    }

    @media (max-width: 400px) {
        .teaser h2 {
            margin-bottom: 25px;
        }
    }

/* ---- Accès ---- */
.access {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 9vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 50px;
}

.access h2 {
    color: #21594F;
    margin: auto;
    margin-bottom: 4%;
}

.contentAccess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5%;
    width: 85vw;
    margin: auto;
    margin-top: 10px;
}

.plan {
    position: relative;
    width: 50%;
}

.plan iframe {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.infosAccess {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.infoAccess {
    background-color: #ECE9DE;
    border-radius: 15px;
    padding: 20px;
}

.h3 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.infoAccess img {
    width: 22%;
}

.infoAccess h3 {
    font-family: 'Carambola', sans-serif;
}

.infoAccess ul {
    list-style-type: none;
    padding-left: 10px;
}

.infoAccess li {
    margin-top: 10px;
}

       /* ---- ACCESS RESPONSIVE ---- */ 
         @media (max-width: 600px) {
            .access {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                padding-top: 40px;
                padding-bottom: 40px;
            }
          
            .contentAccess {
                flex-direction: column;
                gap: 15px;
                margin-top: 20px;
            }
    
            .plan {
                width: 85vw;
                aspect-ratio: 16 / 9;
            }

            .infosAccess {
                gap: 9px;
            }

            .infoAccess img {
                width: 30%;
            }
        }

        @media (max-width: 399px) {
            .infosAccess {
                grid-template-columns: 1fr;
            }

            .infoAccess img {
                width: 20%;
            }
        }