@font-face {
    font-family: 'Lucida';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/lucida-bright.woff2') format('woff2'),
        url('../fonts/lucida-bright.woff') format('woff');
}

@font-face {
    font-family: 'Carambola';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/carambola.woff2') format('woff2'),
        url('../fonts/carambola.woff') format('woff');
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lucida', serif;
}


/* ---- HEADER ---- */

header {
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 12.5vh;
    min-height: 80px;
    z-index: 4;
}

header .logo {
    width: 12vh;
    margin-left: 5%;
}

header nav {
    display: grid;
    grid-template-columns: 15% 1fr 30%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    text-align: center;
}

.menu-user {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#compte img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    border: #FFFFFF 2px solid;
}

.menu a,
.menu-user a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
}

.menu a:hover, .menu-user a:hover {
    border-bottom: #FFFFFF solid 2px;
    padding-bottom: 2px;
}

.menu a img {
    display: none;
}

.burger {
    display: none;
}

.language {
    width: 30px;
}

/* ---- HEADER RESPONSIVE ---- */
@media (max-width: 899px) {
    header nav {
        grid-template-columns: 15% 1fr 10%;
        grid-template-areas:
            "Logo MenuUser Burger";
    }

    .logo {
        grid-area: Logo;
    }

    .burger {
        grid-area: Burger;
    }

    .menu-user {
        grid-area: MenuUser;
    }

    .menu-user {
        margin-right: 0;
    }

    .burger {
        display: block;
        cursor: pointer;

        background-color: #000000;
        border: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px;
    }

    .burger img {
        width: 5vw;
        height: 5vw;
    }

    .burgerClose {
        display: none;
    }

    .menu {
        display: none;
        z-index: 3;
        flex-direction: column;
        align-items: start;
        background-color: #FFFFFF;
        width: 100vw;
        padding: 10px 0;
        box-shadow: 0 2px 28px 3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0 2px 28px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 2px 28px 3px rgba(0, 0, 0, 0.75);
        text-align: start;
    }

    .menu a {
        color: #000000;
        font-family: 'Carambola', sans-serif;
        font-size: 1.5rem;
        margin-left: 15vw;
        width: 37vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .menu a img {
        display: block;
        width: 3vw;
        height: 3vw;
    }
}

@media (max-width: 569px) {
    .menu a img {
        width: 4vw;
        height: 4vw;
    }
}

@media (max-width: 449px) {
    header nav {
        grid-template-columns: 15% 1fr 12%;
    }

    .menu a {
        width: 63vw;
        font-size: 1rem;
    }

    .menu a img {
        width: 6vw;
        height: 6vw;
    }

    .menu-user a {
        padding: 7px;
        font-size: 0.9rem;
    }
}


/* ---- FOOTER ---- */
footer {
    background-color: #000000;
    color: #FFFFFF;

    display: grid;
    grid-template-columns: 40% 1fr 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 25px;
    z-index: 4;
}

footer .logo {
    width: 17vh;
}

footer ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
}

footer li {
    padding: 4px;
}


.apropos,
.planSite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    display: flex;
    align-items: center;
}

.apropos h3,
.planSite h3 {
    border-bottom: 2px solid #FFFFFF;
    padding: 7px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 3px;
}

.reseaux {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
}

.reseaux ul {
    display: flex;
    align-items: center;
}

.reseaux img {
    width: 90%;
}

footer a:hover {
    text-decoration: underline;
}



/* ---- FOOTER RESPONSIVE ---- */
@media (max-width: 899px) {
    footer {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .test {
        justify-content: flex-end;
    }

    .adress {
        width: 25vw;
    }

    .reseaux {
        order: 1;
        justify-content: center;
    }

    .apropos,
    .planSite {
        order: 2;
    }
}

@media (max-width: 645px) {
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "Adress Adress"
            "Reseaux Reseaux"
            "Prop Plan";
        gap: 10px;
    }

    .test {
        grid-area: Adress;
    }

    .apropos {
        grid-area: Prop;
    }

    .planSite {
        grid-area: Plan;
    }

    .reseaux {
        grid-area: Reseaux;
    }

    .test {
        justify-content: center;
    }

    .adress {
        width: 40vw;
    }

    .reseaux {
        gap: 20px;
    }

    .reseaux img {
        width: 100%;
    }
}

@media (max-width: 299px) {
    .adress {
        width: 41vw;
    }

    footer p,
    footer a {
        font-size: 0.7rem;
    }

    footer h3 {
        font-size: 1rem;
    }

    .reseaux {
        gap: 10px;
        margin-right: 0;
    }

    .reseaux a {
        text-align: center;
    }

    .reseaux img {
        width: 70%;
    }
}



/* ---- Form ---- */
.required {
    color: red !important;
}

p.error {
    color: #c62424 !important;
    margin-left: 10px;
    font-weight: 700;
}

.hidden {
    display: none !important;
}

/* ---- Bouton de réservation ---- */
.infoTeaser,
#reservation {
    display: flex;
    color: white;
    padding: 0 13px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
}

.infoTeaser img,
#reservation img {
    margin-right: 10px;
}

.infoTeaser p,
#reservation p {
    margin-top: 13px;
    margin-bottom: 13px;
}

#reservation {
    background-color: #000000;
    text-decoration: none;
    font-family: 'Carambola', sans-serif;
    float: right;
}

#reservation:focus,
#reservation:hover {
    background-color: #21594F;
}

/* ---- Popup ---- */
.popup {
    display: block;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 60vw;
    height: 40vh;
    margin: auto;
    background-color: #ECE9DE;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 11px rgba(0, 0, 0, 0.409);
    -webkit-box-shadow: 0px 0px 40px 11px rgba(0, 0, 0, 0.409);
    -moz-box-shadow: 0px 0px 40px 11px rgba(0, 0, 0, 0.409);
    cursor: auto;
    padding: 5px 15px;
}

.popup h2 {
    font-family: 'Lucida', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 9vh;
}

.popup .link {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.popup a {
    font-family: 'Carambola', sans-serif;
    font-size: 2rem;
    color: #21594F;
    text-decoration: none;
}

.popup a:hover {
    text-decoration: underline;
}

.popup p {
    text-align: center;
}

/* ---- POPUP RESPONSIVE ---- */
@media (max-width: 635px) {
    .popup .link {
        flex-direction: column;
        align-items: center;
    }

    .popup h2 {
        margin-top: 45px;
        margin-bottom: 30px;
    }
}

.notLoged,
.serverError {
    position: relative;
    cursor: not-allowed;
}

.notLoged::after,
.serverError::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007d;
}

/* ---- For screan reader only ---- */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* ---- Edit button ---- */
.edit {
    background-color: #ECE9DE;
    color: #21594F;
    border: #21594F 2px solid;
    font-size: 1rem;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    font-family: 'Carambola', sans-serif;
    margin-bottom: 10px;
}

.edit img.Hover {
    display: none;
}

.edit:hover {
    background-color: #21594F;
    color: #FFFFFF;
    cursor: pointer;
}

.edit:hover img.Hover {
    display: block;
}

.edit:hover img.noHover {
    display: none;
}


/* ---- Skip link ---- */
.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: 2px;
    top: 5px;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    z-index: 1000;
    border: #21594F solid 3px;
    border-radius: 7px;
}