*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary : #21594F;
    --secondary : #ECE9DE;

    --white : #fff;
    --black : #000;
}

body {
    margin: 0;
    background-color: #1e1e1e;
}

.progress__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--primary);
    color: var(--white);
    z-index: 20;
    transition: 0.5s;
    overflow: hidden;
}

.progress__container--open {
    height: 100vh;
}

.progress__container--close {
    top: -20px;
    height: 0;
}

.progress__number {
    position: absolute;
    background-color: var(--primary);
    width: 160px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 700;
    z-index: 30;
}

.progress__bar {
    --load : 0%;
    width: var(--load);
    height: 5px;
    background-color: var(--white);
}