.button__container {
    display: flex;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light-primary);
    color: var(--dark-primary);
    border: none;
}

.button__container:hover {
    background-color: var(--secondary);
}

.button__container--icon {
    padding: 8px 8px;
    /* height: 19px;
    width: 19px; */
}

.button__container--icon > .icon_alt {
    display: none;
}

.button__container--icon::before {
    content: "";
    display: inline-block;
    /* position: relative; */
    /* top: 8px; */
    width: 19px;
    height: 19px;
    background-color: currentColor;
    mask: no-repeat center center;
    mask-size: contain;
    /* margin-right: 8px; */
}

.button__icon--trash {
    background-color: var(--light-red);
    color: var(--dark-red);
}

.button__icon--trash:hover {
    background-color: var(--secondary-red);
}

.button__icon--trash::before {
    mask-image: url("../../../public/asset/icon/Trash-2.svg");
}

.button__icon--eye {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.button__icon--eye:hover {
    background-color: var(--secondary-blue);
}

.button__icon--eye::before {
    mask-image: url("../../../public/asset/icon/Eye.svg") ;
}

.button__icon--cross::before {
    mask-image: url("../../../public/asset/icon/Cross.svg") ;
}

.button__icon--back {
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
}

.button__icon--back:hover {
    background-color: var(--secondary-yellow);
}

.button__icon--back::before {
    mask-image: url("../../../public/asset/icon/Corner-up-left.svg") ;
}
