*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {

    --black: #131212;
    --white: #F8F8F8;

    --bkg-primary:#F3FFF4;
    --bkg-secondary: #e1ffe3;

    --dark-primary: #23511B;
    --light-primary: #E3FFEB;
    --secondary: #A5D1B1;
    
    --light-red: #FFDCDC;
    --light-blue: #DCE1FF;
    --light-green: #C2FFD7;
    --light-yellow: #FFE4BC;
    --light-grey: #D9D9D9;
    
    --secondary-red: #ff7f7f;
    --secondary-yellow: #f5c983;
    --secondary-blue: #aebafd;

    --graph-primary: hsl(137, 100%, 74%);
    --graph-blue: hsl(231, 100%, 74%);
    --graph-green: hsl(141, 100%, 74%);
    --graph-yellow: hsl(36, 100%, 74%);

    --dark-red: #660708;
    --dark-blue: #1328A7;
    --dark-green: #23511b;
    --dark-yellow: #5A3B0D;
    --dark-grey: #484848;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
}

table {
    border-collapse: collapse;
}

main {
    padding: 200px 20px 20px 20px;
}

p {
    max-width: 800px;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.firstletter::first-letter {
    text-transform: uppercase;
}